.main{
    margin: 0 auto;
    width: 1200px;
    height: 100%;
}
.userCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.no_data{
    display: flex;
    justify-content: center;
    font-size: 40px;
}